header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 300px;
    width: 100%;   
    border-bottom: solid 4px orange;
    margin: auto;
    background-image: linear-gradient(60deg ,rgb(66, 66, 129),rgb(105, 83, 44) );
    


}


header h1{
    font-family: 'Saira Condensed', sans-serif;
    color: #fff;
    margin: 0%;
}
header .separador-encabezado{
    
    width: 50%;
    margin: 0 auto;
}

header h2{
    font-family: 'Saira Condensed', sans-serif;
    color: #fff;
    margin: 0%;
}